.artisans-hero {

  position: relative;

  min-height: 70vh;

  display: flex;

  justify-content: center;
  align-items: center;

  text-align: center;

  overflow: hidden;

  background-image:
    url("https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?q=80&w=1400&auto=format&fit=crop");

  background-size: cover;
  background-position: center;
}

.artisans-overlay {

  position: absolute;

  inset: 0;

  background:
    linear-gradient(
      135deg,
      rgba(0,0,0,0.8),
      rgba(82,0,122,0.6)
    );
}

.artisans-content {

  position: relative;

  z-index: 2;

  max-width: 800px;

  padding: 20px;

  color: white;
}

.artisans-content span {

  display: inline-block;

  margin-bottom: 20px;

  letter-spacing: 4px;

  color: #d4b3ff;
}

.artisans-content h1 {

  font-size: 6rem;

  line-height: 0.95;

  margin-bottom: 30px;
}

.artisans-content p {

  color: #dddddd;

  line-height: 1.8;

  font-size: 1.1rem;

  margin-bottom: 40px;
}

.artisans-content button {

  padding: 16px 30px;

  border: none;

  border-radius: 16px;

  background:
    linear-gradient(
      135deg,
      #ff7b00,
      #ff9500
    );

  color: white;

  font-weight: bold;

  transition: 0.3s;
}

.artisans-content button:hover {

  transform: translateY(-5px);
}

@media (max-width: 768px) {

  .artisans-content h1 {

    font-size: 3.5rem;
  }

}